.profile--name__container {
  display: flex;
  align-items: center;

  gap: 0.7rem;
}

.profile--name__container:hover {
  cursor: pointer;
}

.profile--name__container > img {
  height: 40px;
  width: 40px;

  border-radius: 10px;
}
